#movie-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
}

.movie {
    color: white;
    border: 1px solid white;
    border-radius: 10px;
    min-height: 50px;
    width: calc(100% - 20px);
    margin: 10px;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
}


.movie .item {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    width: 100%;
}

@media screen and (max-width: 620px) {
    .movie .item {
        flex-wrap: wrap;
        margin: 10px 0;
    }

    .movie{
        flex-wrap: wrap;
    }


}

.movie .key {
    font-weight: bold;
    font-size: 20px;
    text-transform: capitalize;
    margin-right: 10px;
}

.movie .value {
    color: indianred;
    font-size: 16px;
    font-style: italic;
    text-transform: none;
}




