/*
The item related to this ID is the main container of the movies page. (The page which represents the list of starwars episodes.)
Also this ID is used in loadPage function which simulates routing.
*/
#movie-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
}

/*
The container of each movie box
*/
.movie {
    color: white;
    border: 1px solid white;
    border-radius: 10px;
    min-height: 50px;
    width: calc(100% - 20px);
    margin: 10px;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
}

/*
The container of each Key:value in Movie box..
*/
.movie .item {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    width: 100%;
}

/*
 To make page responsive for mobile devices
*/
@media screen and (max-width: 620px) {
    .movie .item {
        flex-wrap: wrap;
        margin: 10px 0;
    }

    .movie {
        flex-wrap: wrap;
    }


}

/*
 The key of each .item
*/
.movie .key {
    font-weight: bold;
    font-size: 20px;
    text-transform: capitalize;
    margin-right: 10px;
}


/*
 The value of each .item
*/
.movie .value {
    color: indianred;
    font-size: 16px;
    font-style: italic;
    text-transform: none;
}




