/*
The item related to this ID is the main container of the starship page. (The page which represents the list of starships in each movie.)
Also this ID is used in loadPage function which simulates routing
*/
#starship-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: start;
}


/*
The class related to the ul element which contains the list of starship names
*/
.starship-list {
    width: calc(50% - 20px);
    margin-right: 20px;
}

/*
The class related to the li element which contains the starship name
*/
.starship-item {
    font-size: 18px;
    font-style: italic;
    padding: 10px 10px;
    cursor: pointer;
    width: 100%;
}


/*
Selected .starship-item
*/
.starship-item.active {
    color: gold;
}

/*
Hovered .starship-item
*/
.starship-item:hover {
    background-color: indianred;
}


/*
The container which contains the list of starship data items
*/
.starship-details {
    width: 50%;
    padding: 10px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
}

/*
The container which contains the starship data item
*/
.starship-details .item {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    width: 100%;
    padding: 10px;
}

/*
The container which contains the key side of starship data item
*/
.starship-details .key {
    font-weight: bold;
    font-size: 20px;
    text-transform: capitalize;
    margin-right: 10px;
}

/*
The container which contains the value side of starship data item
*/
.starship-details .value {
    color: indianred;
    font-size: 16px;
    font-style: italic;
    text-transform: none;
}

/*
The navbar which contains the pagination buttons and go back to movie list button
*/
.starship-navbar {
    position: absolute;
    width: 100%;
    height: 90px;
    bottom: -90px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}


/*
The item related to this ID is the main container of the movies page. (The page which represents the list of starwars episodes.)
Also this ID is used in
*/
@media screen and (max-width: 620px) {

    .starship-navbar {
        height: 300px;
        bottom: -300px;
        flex-direction: column;
    }

    .starship-navbar .default-button {
        margin: 5px 0;
    }

    #container {
        margin-bottom: 300px;
    }

    #starship-container {
        flex-direction: column;
    }

    .starship-details {
        width: 100%;
    }

    .starship-list {
        width: 100%;
    }

}


