html, body {
    height: 100%;
}

#app {
    min-height: 100%;
}

/* for IE 6, if you care */
* html #app {
    height: 100%;
}

body, p {
    margin: 0;
    padding: 0
}


#app {
    /*Basic settings and fonts*/
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    /*To make #Container centre positioned*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /*Fallback for background image*/
    background: rgb(50, 70, 103);
    background: linear-gradient(89deg, rgba(50, 70, 103, 1) 0%, rgba(152, 177, 163, 1) 100%);
    /*Background image*/
    background-image: url("/assets/background.gif");
    /*To make background image cover the screen*/
    background-size: cover;
    background-position: center;
    /* To display background image correctly under glass effect of #container*/
    background-attachment: fixed;
    /*Set default font color*/
    color: white;

    overflow: hidden;
}

#container {
    /*Box sizing*/
    width: clamp(300px, calc(100% - 50px), 1000px);
    margin: 0 25px;
    min-height: 300px;
    /*Styling*/
    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    /*Positioning and  overflow*/
    position: relative;
    overflow: visible;
    /*To display glass effect correctly*/
    z-index: 1;
    background: inherit;
    color: white;
}

#container:before {
    /* To apply glass effect on #container displayable in most old and new browsers*/
    content: "";
    position: absolute;
    background: inherit;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    box-shadow: inset 0 0 2000px rgba(34, 34, 34, 0.5);
    filter: blur(3px);
    margin: -20px;
}

#title {
    font-weight: bold;
    font-size: 32px;
    line-height: 100px;
    text-transform: uppercase;
    width: clamp(300px, calc(100% - 50px), 1000px);
    text-align: start;
}


#credits {
    position: fixed;
    right: 5px;
    bottom: 5px;
    font-size: 12px;
    pointer-events: none;
}

#credits a {
    color: gold;
    font-weight: bold;
    pointer-events: all;
}


.default-button {
    box-shadow: inset 0 34px 0 -15px #b54b3a;
    background-color: #a73f2d;
    border: 1px solid #241d13;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-size: 15px;
    font-weight: bold;
    padding: 9px 23px;
    text-decoration: none;
    border-radius: 10px;
    text-shadow: 0 -1px 0 #7a2a1d;
    margin: 0 10px;
}

.default-button:hover {
    background-color: #b34332;
}

.default-button:active {
    position: relative;
    top: 1px;
}

.default-button:disabled {
    opacity: 0.2;
    pointer-events: none;
}